<!DOCTYPE html>
<html>
<head>
<title>Logout</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/modify.css" rel="stylesheet" type="text/css" />
<script src="js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/jquery.cookie.js"></script>

<script>
	$.removeCookie("accNum");
</script>
</head>
<body>
	<h1>Successfullt Logged Out !!</h1>
	<a href="/login">Login</a>
</body>
</html>